{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:react/recommended",
    "plugin:effector/react"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 11
  },
  "plugins": [
    "@typescript-eslint",
    "effector"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": 1,
    "react/react-in-jsx-scope": "off",
    "react/jsx-curly-brace-presence": [
      "error",
      { "props": "never", "children": "never" }
    ]
  }
}
